/* just check the css  */

*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    background-color: rgb(136, 136, 218);
}

main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

.show-btn{
    margin: 1rem 2rem;
}
button{
    border-radius: 1.5rem;
    padding: 0.7rem 1rem;
    background-color: darkcyan;
    color: white;
    outline: none;
    border: solid 3px white;
    margin-left: 580px;
    margin-top: 30px;
    width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

h1{
    color: rgb(229, 255, 0);
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 1rem 2rem;
}

label{
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 1rem;
}

input{
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: solid 2px rgb(255, 58, 58);
}

p{
    font-size: 1.2rem;
    font-weight: bolder;
}

footer{

    bottom: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
    
}

.socials{
    font-size: 2rem;

}

a{
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    border: solid 2px rgb(2, 194, 253);
}
.made-by{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
.container{
    margin-top: 5rem;
    background-color: rgb(121, 33, 184);
    border-radius: 20px;
    border:  solid 3px rgb(0, 184, 245);
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 530px;
    text-align: center;
}
